<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Moje hobby </title>


    <link rel="stylesheet" href="styles.css" type="text/css"/>
    <link rel="stylesheet" href="css/fontello.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Kodchasan" rel="stylesheet">

</head>


<body style="background-color:#ACA5B1;">

<div id="gora">
</div>

<div id="container">

    <div id="logo">



        <div id="logoR">

            <a href="index.html" class="tilelink1"><h1>Ankieta</h1></a>
        </div>




        <div style="clear:both;"></div>
    </div>

    <div id="nav">

        <div class="srodek">



        </div>


        <img src="C:\\Users\\Kompikl\IdeaProjects\springg\src\main\resources\templates\bgl.png" >




    </div>

    <div id="content">
        <main>

            <div id="dol">
            </div>

            <form th:action="@{/add}" method="post" th:object="${responder}">
                <label>Wiek:</label>
                <input type="number" th:field="*{age}" /><br/>

                <label>Plec:</label>
                <input type="radio" th:field="*{sex}" value=True />Meżczyzna
                <input type="radio" th:field="*{sex}" value=False />Kobieta<br/>

                <label>Student</label>
                <input type="checkbox" th:field="*{student}" /><br/>

                <label>nazwa uczelni:</label>
                <input type="text" th:field="*{collage}" /><br/>

                <label>Imie</label>
                <input type="text" th:field="*{name}" /><br/>

                <label>Czas spendzony siedzac przed pandemia</label>
                <input type="number" th:field="*{sittingTimeBef}" /><br/>

                <label>Czas spendzony aktywnie przed pandemia</label>
                <input type="number" th:field="*{activityTimeBef}" /><br/>

                <label>Samopoczucie przed pandemia</label>
                <input type="radio" th:field="*{well_beingBef}" value="BardzoZle" />Bardzo zle
                <input type="radio" th:field="*{well_beingBef}" value="Zle" />Zle<br/>
                <input type="radio" th:field="*{well_beingBef}" value="Dobre" />Dobre<br/>
                <input type="radio" th:field="*{well_beingBef}" value="BardzoDobre" />Bardzo dobre<br/>

                <label>Stan fizyczny przed pandemia</label>
                <input type="radio" th:field="*{physicalHealthyBef}" value="BardzoZle" />Bardzo zle
                <input type="radio" th:field="*{physicalHealthyBef}" value="Zle" />Zle<br/>
                <input type="radio" th:field="*{physicalHealthyBef}" value="Srednie" />Srednie<br/>
                <input type="radio" th:field="*{physicalHealthyBef}" value="Dobre" />Dobre<br/>
                <input type="radio" th:field="*{physicalHealthyBef}" value="BardzoDobre" />Bardzo dobre<br/>

                <label>Stan psychiczny przed pandemia</label>
                <input type="radio" th:field="*{mentalHealthyBef}" value="BardzoZle" />Bardzo zle
                <input type="radio" th:field="*{mentalHealthyBef}" value="Zle" />Zle<br/>
                <input type="radio" th:field="*{mentalHealthyBef}" value="Srednie" />Srednie<br/>
                <input type="radio" th:field="*{mentalHealthyBef}" value="Dobre" />Dobre<br/>
                <input type="radio" th:field="*{mentalHealthyBef}" value="BardzoDobre" />Bardzo dobre<br/>

                <label>Czas spendzony siedzac w trakcie pandemi</label>
                <input type="number" th:field="*{sittingTimeAft}" /><br/>

                <label>Czas spendzony aktywnie w trakcie pandemi</label>
                <input type="number" th:field="*{activityTimeBef}" /><br/>

                <label>Samopoczucie w trakcie pandemii</label>
                <input type="radio" th:field="*{well_beingAft}" value="BardzoZle" />Bardzo zle
                <input type="radio" th:field="*{well_beingAft}" value="Zle" />Zle<br/>
                <input type="radio" th:field="*{well_beingAft}" value="Dobre" />Dobre<br/>
                <input type="radio" th:field="*{well_beingAft}" value="BardzoDobre" />Bardzo dobre<br/>

                <label>Stan fizyczny w trakcie pandemi</label>
                <input type="radio" th:field="*{physicalHealthyAft}" value="BardzoZle" />Bardzo zle
                <input type="radio" th:field="*{physicalHealthyAft}" value="Zle" />Zle<br/>
                <input type="radio" th:field="*{physicalHealthyAft}" value="Srednie" />Srednie<br/>
                <input type="radio" th:field="*{physicalHealthyAft}" value="Dobre" />Dobre<br/>
                <input type="radio" th:field="*{physicalHealthyAft}" value="BardzoDobre" />Bardzo dobre<br/>

                <label>Stan psychiczny w trakcie pandemi</label>
                <input type="radio" th:field="*{mentalHealthyAft}" value="BardzoZle" />Bardzo zle
                <input type="radio" th:field="*{mentalHealthyAft}" value="Zle" />Zle<br/>
                <input type="radio" th:field="*{mentalHealthyAft}" value="Srednie" />Srednie<br/>
                <input type="radio" th:field="*{mentalHealthyAft}" value="Dobre" />Dobre<br/>
                <input type="radio" th:field="*{mentalHealthyAft}" value="BardzoDobre" />Bardzo dobre<br/>

                <label>Dieta</label>
                <input type="radio" th:field="*{dieta}" value="NieZdrowa" />Nie zdrowa
                <input type="radio" th:field="*{dieta}" value="RaczejnieZdrowa" />Raczej nie zdrowa<br/>
                <input type="radio" th:field="*{dieta}" value="RaczejZdrowa" />Raczej zdrowa<br/>
                <input type="radio" th:field="*{dieta}" value="Zdrowa" />Zdrowa<br/>



                <label>Czy bierzesz jakies leki</label>
                <input type="checkbox" th:field="*{takeMedicament}" /><br/>

                <label>Leki</label>
                <input type="text" th:field="*{medicament}" /><br/>

                <label>Czy jestes chory</label>
                <input type="checkbox" th:field="*{haveIlness}" /><br/>

                <label>Choroba</label>
                <input type="text" th:field="*{ilness}" /><br/>



                <button type="submit">Register</button>
            </form>




        </main>

    </div>

    <div id="zdjecia">
        <div id="zdjecia1">
            <div class="srodek">

            </div>




            <img src="bgp.png" >





        </div>

        <div style="clear:both;"></div>
    </div>



</div>



</body>



</html>